<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        @Html.Partial("~/Views/Shared/_ModalTemplates.cshtml")
        @Html.Partial("~/Views/Shared/_ScriptsData.cshtml")

        @Styles.Render("~/bundles/main_styles")
        @Scripts.Render("~/bundles/main_scripts")

        @Scripts.Render("~/Scripts/Core/GlobalModules.js")

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        @if (IsSectionDefined("OpenGraph"))
        {
            @RenderSection("OpenGraph")
        }
        
        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts");
        }
        
        <script>
            function updateLoginStatus() {
                $.get("/Account/ShowLoggedStatus", function (data) {
                    $('.loginstatus').empty().append(data);
                });
            }
        </script>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Images/favicon.png")" />
        <title>Wczasy24 - @ViewBag.Title</title>
        
        @Html.Action("SetUserCookie", "Account")

        <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=pl-PL.js"></script>
    </head>
    <body>
        <div id="wnd-modal" aria-hidden="true">
            <div tabindex="-1" data-micromodal-close>
                <div role="dialog" aria-modal="true" aria-labelledby="wnd-modal-title">
                    <header>
                        <h2 id="wnd-modal-title">
                        </h2>

                        <button aria-label="Close modal" data-micromodal-close></button>
                    </header>
                    <div id="wnd-modal-content">
                    </div>
                </div>
            </div>
        </div>

        <div class="ajax_loader">
            <img src="@Url.Content("~/Images/ajax.gif")" alt="Ajax Loader" />
        </div>
        <div class="wrap">
            <header>
                <div class="row">
                    <div class="userbar">
                        <div class="loginstatus">
                            @Html.Action("ShowLoggedStatus", "Account")
                        </div>
                        @Html.Action("Show", "Stash")
                    </div>
                </div>
                <div class="row">
                    <a href="/" class="logo" title="Wczasy24.com.pl - Wczasy na okrągło!"><span class="sun">Wczasy24.com.pl - Baza noclegowa</span></a>
                    <ul class="mainnav">
                        <li><a href="#" class="add_place">Dodaj obiekt</a></li>
                        <li><a href="/Static/NaszaOferta">Nasza oferta</a></li>
                        <li><a href="/Cennik">Cennik</a></li>
                        <li><a href="/Static/ONas">O nas</a></li>
                        <li><a href="/Contact">Kontakt</a></li>
                    </ul>
                </div>
            </header>
            @RenderBody()
            <footer>
                <div class="row">
                    @Html.Action("ViewFooterCities", "Search")
                </div>
                <div class="row spacing"></div>
                <div class="row payments"></div>
                <div class="row footerend">
                    <div class="copy left">&copy; Copyright 2015 Wczasy24.com.pl</div>
                    <ul class="footernav right">
                        <li><a href="/Static/ONas">O nas</a></li>
                        <li><a href="/Static/Cennik">Cennik</a></li>
						<li><a href="@(Url.Action("Index", "Payment"))">Reklama</a></li>
                        <li><a href="/Static/Regulamin">Regulamin</a></li>
                        <li><a href="/Contact">Kontakt</a></li>
                        <li><a href="/Static/PolitykaPrywatnosci">Polityka prywatności</a></li>
                    </ul>
                </div>
            </footer>
        </div>
        <script>
            if (User.IsLoggedIn == "False" || User.Role == 'user') {
                $('.add_place').remove();
            }
        </script>
        @Html.Partial("~/Views/Shared/ObjectCreationModal.cshtml")
        @Html.Partial("~/Views/Shared/CookieBox.cshtml")
</body>
</html>
