@model Wczasy24_MVC4.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "passwordResetForm" }))
{
    Html.AntiForgeryToken();
    Html.ValidationSummary(true);

    <h2>Zmiana Hasła</h2>

    if (ViewBag.Success == null || !ViewBag.Success)
    {
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurrentPassword)
            @Html.ValidationMessageFor(model => model.CurrentPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <p>
            <button type="submit">Zmień</button>
            <button type="button" data-href="@Url.Action("Index", "Profile")" class="return">Powrót</button>
        </p>
    </fieldset>
    }
    else
    {
        <p class="message">Pomyślnie zmieniono hasło.</p>
        <button type="button" data-href="@Url.Action("Index", "Profile")">Powrót</button>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $('[data-href]').click(function () {
        window.location.href = $(this).data('href');
    });
</script>
