@model Wczasy24_MVC4.Models.PasswordResetModel

@{
    ViewBag.Title = "Resetowanie Hasła";
}

@if (ViewBag.Result == null)
{
    <div class="main left">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "passwordResetForm" }))
        {
            <h3>Resetowanie hasła</h3>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <input  id="PasswordResetToken" name="PasswordResetToken" type="hidden" value="@ViewBag.ResetToken">

                <div class="editor-label">
                    @Html.LabelFor(model => model.NewPassword)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NewPassword)
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.ConfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>

                <p>
                    <button type="submit">Zmień</button>
                </p>
            </fieldset>
        }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
else
{
    if (ViewBag.Result)
    {
        <p>Hasło zostało zmienione, możesz teraz <a href="@Url.Action("Login", "Account")">zalogować się</a> używając nowego hasła.</p>
    }
    else
    {
        <p>Wystąpił błąd podczas próby zmiany hasła, spróbuj powtórzyć proces resetowania hasła, lub skontaktuj się z obsługą serwisu.</p>

    }
}

