@model Wczasy24_MVC4.Models.DTO.UpdateSellerViewModel

@using(Html.BeginForm("EditSeller", "Profile")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

	<div class="main">
	<div class="greybox register">
    <fieldset>
        <h3>Dane firmy</h3>
        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostalCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostalCode)
            @Html.ValidationMessageFor(model => model.PostalCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nip)
            @Html.ValidationMessageFor(model => model.Nip)
        </div>
        <hr/>

        <h3>Osoba upoważniona do kontaktu</h3>
        <div class="editor-label">
            @Html.LabelFor(model => model.ContactFirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactFirstName)
            @Html.ValidationMessageFor(model => model.ContactFirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactLastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactLastName)
            @Html.ValidationMessageFor(model => model.ContactLastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactPhone)
            @Html.ValidationMessageFor(model => model.ContactPhone)
        </div>

            <button type="submit">Zapisz zmiany</button>
    </fieldset>

	<br/>
		<div>
    @Html.ActionLink("Powrót do panelu", "Index")
</div>
	</div>
	</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

