@{
    ViewBag.Title = "Home Page";
}
<div class="main left">
    <section class="map row">
        <h1>Wyszukaj lub wybierz z mapy</h1>
        <div class="whitebox">
            @Html.Action("SearchForm", "Search")
        </div>
        <div class="mapa">
            <img src="/Images/mapa.png" width="363" height="345" usemap="#imgmap20131025114956" id="mapka" border="1"/>
            <map id="imgmap20131025114956" name="imgmap20131025114956">
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Pomorskie" })" data-key="Pomorskie" alt="Pomorskie" coords="117,78,108,76,105,78,101,75,101,73,101,71,100,67,100,64,102,62,98,59,100,57,103,57,103,56,101,52,100,50,98,52,97,52,97,44,96,40,94,36,94,35,97,34,99,34,100,32,99,30,98,28,99,27,99,21,97,20,96,18,96,16,100,15,105,12,110,8,113,6,120,5,133,2,142,0,150,0,155,3,164,9,168,13,168,14,166,14,164,12,157,7,154,4,153,6,155,9,155,11,158,14,159,19,158,22,162,28,164,27,166,29,169,31,172,29,178,29,181,29,182,33,183,39,181,41,182,49,184,50,185,53,186,55,190,54,190,62,187,62,185,60,183,64,183,66,180,69,178,73,175,73,173,74,167,73,165,72,166,69,165,68,161,69,158,69,157,67,154,68,150,68,147,68,146,65,141,65,140,67,136,65,134,65,134,68,130,68,131,72,130,73,128,75,128,76,123,75,121,72,120,72,118,75" href="" target="" />
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Warmińsko - Mazurskie" })" data-key="Warmińsko - Mazurskie" alt="Warmińsko - Mazurskie" title="" coords="202,96,201,101,199,101,195,96,197,94,195,89,196,89,196,90,196,90,197,90,197,90,197,90,197,90,196,90,195,89,194,89,193,89,192,89,192,88,191,88,191,88,191,88,191,88,191,88,189,88,185,84,184,86,182,85,181,84,180,76,178,74,180,72,180,69,183,66,185,61,188,63,190,62,190,56,191,54,189,55,185,55,185,51,181,47,181,40,184,39,181,31,183,33,185,33,186,34,189,30,193,29,195,28,198,24,200,23,206,25,218,27,231,28,245,29,261,30,274,29,289,27,298,27,303,24,303,28,303,28,303,29,303,29,303,29,303,29,303,30,302,30,302,30,301,31,301,31,300,31,299,31,298,31,297,31,296,31,295,31,295,32,294,32,294,33,294,33,294,34,295,35,295,36,295,36,296,37,296,37,296,37,297,40,296,43,301,46,301,46,301,47,302,48,302,49,303,50,303,52,303,54,303,56,302,58,301,59,300,61,299,61,299,62,299,62,299,62,299,61,299,61,299,61,298,64,293,66,293,69,290,69,286,74,285,74,285,75,285,75,284,76,283,76,282,77,281,78,280,78,279,78,278,78,277,78,276,78,276,78,276,78,276,78,276,78,276,78,276,78,274,82,268,81,265,83,262,81,260,82,255,84,253,84,252,83,252,83,251,83,251,84,250,85,248,86,247,86,246,87,244,87,242,87,241,87,240,87,239,87,239,86,239,86,240,86,240,86,240,86,240,86,238,89,237,90,232,90,231,93,229,94,222,94,222,101,219,102,205,100" href="" target="" />
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Podlaskie" })" data-key="Podlaskie" alt="Podlaskie" title="" coords="302,24,304,29,300,31,294,32,294,34,295,36,297,39,296,43,300,46,302,49,303,52,303,56,301,60,300,61,299,61,299,61,299,62,298,63,297,63,297,64,296,65,295,66,294,66,293,67,293,67,293,67,293,67,293,67,293,66,293,66,293,66,293,66,293,69,290,69,289,69,289,70,288,71,287,72,286,73,284,75,283,76,281,77,279,78,278,78,277,78,276,78,275,79,275,79,275,78,275,78,275,78,275,78,274,81,272,82,268,81,265,83,265,85,267,90,264,90,266,96,268,101,272,102,274,105,277,103,277,105,275,107,276,109,277,109,279,111,278,114,279,116,282,117,285,115,287,115,288,119,289,121,292,121,294,120,295,122,294,131,299,138,302,144,316,145,317,148,322,149,325,152,327,145,329,138,331,135,338,131,347,126,349,123,348,110,347,104,347,101,347,94,344,91,333,67,331,60,331,53,327,49,330,42,328,40,327,38,326,35,325,32,320,31,316,28,313,29,312,26,308,23,306,23" href="" target="" />
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Lubelskie" })" data-key="Lubelskie" alt="Lubelskie" title="" coords="324,152,324,152,323,152,323,152,322,152,321,152,320,152,320,152,319,152,319,152,319,158,317,156,316,156,316,159,313,162,305,160,305,166,300,163,299,165,298,166,295,166,294,165,292,166,287,166,283,167,278,170,279,175,278,177,281,178,282,181,278,183,279,186,277,188,277,190,274,190,271,189,269,191,269,194,271,195,275,195,278,200,278,203,277,204,275,203,274,206,277,208,276,210,276,225,278,234,279,238,280,241,285,241,288,238,291,239,292,242,291,246,292,248,294,248,296,251,300,251,303,252,304,254,304,257,307,259,303,259,301,262,302,265,311,264,310,266,307,266,325,271,328,264,329,262,332,266,337,263,338,267,343,270,347,265,350,262,351,260,354,259,359,259,361,257,362,241,360,239,358,236,359,234,363,232,357,226,356,218,352,216,351,212,347,210,347,206,344,205,345,196,341,193,340,190,340,182,338,181,342,176,340,172,342,168,343,164,341,159,339,157,336,158,333,153" href="" target="" />
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Mazowieckie" })" data-key="Mazowieckie" alt="Mazowieckie" title="" coords="225,208,230,203,230,199,226,200,227,195,225,194,226,191,224,190,226,188,233,190,235,188,235,184,233,182,233,180,235,178,229,175,226,173,216,174,219,170,217,169,216,168,218,166,218,163,211,159,211,155,207,154,207,153,204,152,203,154,195,154,192,153,190,151,187,150,183,147,183,143,186,141,185,135,188,134,185,131,187,130,191,126,189,123,187,122,187,121,189,120,190,117,188,116,190,112,192,111,195,113,194,103,198,102,201,100,203,97,205,100,213,100,215,101,222,101,222,96,223,94,230,94,232,91,236,90,240,87,243,88,252,83,252,86,257,83,261,81,265,82,265,86,267,90,264,90,266,96,268,101,272,102,274,105,276,104,277,105,275,107,276,109,278,110,278,113,278,115,281,117,284,116,285,115,287,115,288,120,291,122,293,121,294,121,294,130,301,143,308,145,313,145,317,146,317,148,323,149,324,151,325,152,320,152,319,158,316,157,316,159,313,163,305,160,305,166,300,163,299,165,296,166,293,165,289,166,284,167,278,169,279,173,278,177,282,178,282,179,278,182,279,186,277,188,276,190,272,190,271,189,269,191,270,195,274,196,276,196,278,199,279,201,277,205,275,203,274,205,277,208,275,211,276,214,276,226,270,223,268,225,266,225,263,228,260,225,253,225,251,223,250,218,248,221,243,218,238,219,234,214,232,216,230,215,229,210,226,209" href="" target="" />
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Świętokrzyskie" })" data-key="Świętokrzyskie" alt="Świętokrzyskie" title="" coords="221,266,219,262,218,260,214,260,210,258,204,259,201,257,204,254,205,252,207,252,204,250,205,247,201,248,199,248,198,245,200,244,202,240,200,238,203,234,204,227,209,231,211,231,212,227,211,225,209,225,208,224,210,222,211,219,215,217,220,217,219,215,224,215,223,211,224,209,229,210,230,215,232,216,235,214,238,220,243,219,248,220,249,218,251,221,251,224,259,224,262,227,264,228,266,225,268,224,270,223,276,226,277,229,278,234,280,238,279,249,277,250,274,250,273,254,271,256,266,259,264,262,260,264,257,266,255,268,252,269,248,272,242,271,237,275,231,275,226,278,223,277,224,274,222,273,222,271,220,269" href="" target="" />
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Podkarpackie" })" data-key="Podkarpackie" alt="Podkarpackie" coords="330,286,313,315,316,322,316,334,321,336,321,341,321,343,317,342,312,343,311,340,306,340,302,338,298,336,294,335,291,334,289,331,287,326,282,325,277,322,272,321,269,323,264,322,263,321,264,315,262,309,262,304,259,300,254,298,255,295,259,293,254,291,255,286,257,282,253,279,254,275,256,267,256,266,262,265,266,260,269,257,274,253,274,249,278,247,279,242,291,239,292,241,291,247,294,249,302,251,304,256,300,264,302,266,308,264,308,268,326,271,329,264,333,266,337,263,339,270,342,271" href="" target="" />
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Małopolskie" })" data-key="Małopolskie" alt="Małopolskie" title="" coords="191,312,188,308,190,307,190,306,189,304,184,304,183,302,183,301,179,300,180,296,179,293,177,293,176,292,177,291,177,288,179,286,180,286,181,285,181,281,182,280,183,280,188,276,185,274,185,273,185,271,188,271,191,268,191,264,193,265,194,266,197,264,200,263,202,264,205,262,207,261,205,259,207,258,211,258,212,259,218,259,222,266,222,268,220,267,220,269,222,270,222,273,224,274,224,275,223,276,223,277,226,278,228,277,230,275,235,275,237,275,240,272,241,271,246,272,248,271,253,268,256,267,256,269,254,271,254,273,254,277,253,279,254,281,257,281,255,283,255,285,254,287,254,289,254,290,255,291,258,291,259,292,259,294,258,294,255,296,254,297,254,300,257,300,259,301,260,303,261,306,262,308,261,309,261,311,262,313,263,315,263,317,264,319,264,321,263,322,261,321,259,321,258,322,256,323,254,322,253,321,253,323,252,325,251,326,250,328,249,330,246,330,244,328,242,328,239,324,238,324,236,325,233,326,231,325,229,323,228,324,226,325,224,325,223,325,223,326,225,328,224,328,221,328,219,328,218,329,216,332,215,335,215,338,216,339,210,334,209,334,208,335,206,337,203,337,202,336,201,335,202,333,203,333,202,331,202,325,202,325,197,325,195,322,193,319,192,318,192,314" href="" target="" />
                <!--<area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Śląskie" })" data-key="Śląskie" alt="Śląskie" title="" coords="157,302,156,295,150,293,148,292,146,294,139,288,137,288,139,279,145,277,147,275,153,274,149,267,152,257,155,254,161,254,154,251,154,247,155,242,156,237,159,234,160,226,163,224,170,223,173,226,179,228,184,226,188,231,190,234,192,238,194,238,198,237,199,238,201,240,198,242,198,247,204,248,202,253,200,259,205,259,196,266,193,264,189,268,184,272,187,275,185,279,179,285,174,293,178,294,178,300,181,302,183,306,188,306,189,312,190,314,182,318,179,326,177,324,173,326,170,319,166,318,165,309,158,307" href="" target="" />-->
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Śląskie" })" data-key="Śląskie" alt="Śląskie" title="" coords="137,285,137,279,140,279,143,278,144,278,146,275,150,275,151,273,150,270,149,266,150,260,153,260,152,255,157,256,159,253,159,252,157,251,155,249,153,247,155,243,155,240,156,238,158,235,159,231,159,229,160,224,166,224,169,221,172,225,177,228,181,227,183,226,187,230,190,235,192,236,194,235,197,238,200,238,202,240,201,242,200,243,198,244,199,247,201,247,204,247,203,249,206,251,204,253,202,255,201,257,204,258,206,260,205,261,199,264,196,265,192,265,190,267,189,269,186,271,185,272,185,274,188,275,187,276,184,280,181,281,181,284,180,286,178,286,177,289,176,292,179,293,179,294,179,300,183,301,183,304,189,304,190,306,188,309,191,312,188,314,186,316,181,319,180,324,179,325,177,324,173,326,171,325,170,319,166,318,165,309,161,308,157,305,156,301,155,295,153,294,151,293,149,293,147,293,144,292,141,289" shape="poly" title="path3360">
                <!--<area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Opolskie" })" data-key="Opolskie" alt="Opolskie" title="" coords="101,256,108,249,109,242,112,237,114,232,118,229,121,227,120,223,122,219,127,217,132,218,133,221,135,222,141,220,143,219,149,221,157,222,161,221,160,225,160,228,158,236,154,243,156,252,158,253,151,257,148,268,151,274,146,274,140,277,136,280,136,286,137,288,135,289,129,291,124,283,122,282,118,280,119,278,126,280,126,273,126,270,120,272,116,274,112,273,109,269,104,265,100,262,96,260,101,257" href="" target="" />-->
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Opolskie" })" data-key="Opolskie" alt="Opolskie" title="" coords="95,259,101,256,100,252,102,251,106,251,108,248,105,246,108,241,110,241,112,234,113,234,114,232,118,229,120,229,119,226,120,223,120,218,123,218,128,217,132,217,130,220,132,221,135,221,138,220,142,218,147,219,152,220,155,222,157,220,159,223,160,225,159,228,159,233,156,238,155,242,154,245,154,248,157,251,159,253,158,254,154,255,152,256,152,259,150,261,148,265,149,266,149,269,151,272,150,274,146,276,144,278,141,279,137,279,137,283,137,287,135,286,136,289,134,289,131,291,127,289,125,287,124,284,123,282,119,281,119,279,119,277,120,278,123,278,125,277,125,273,126,270,124,270,121,272,118,272,116,273,113,273,113,271,112,271,110,272,109,272,110,269,107,268,105,266,103,264,98,261">
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Łódzkie" })" data-key="Łódzkie" alt="Łódzkie" title="" coords="200,238,197,238,195,235,191,237,189,233,187,232,187,229,185,229,184,227,181,228,178,228,174,227,171,225,169,222,168,224,166,223,160,225,158,224,158,221,157,221,155,222,151,220,146,219,142,218,142,212,140,212,139,211,139,206,142,205,143,201,144,201,146,202,147,204,150,200,151,198,149,192,151,190,152,182,154,180,161,179,166,173,163,171,163,170,163,165,172,163,170,159,171,157,173,156,176,157,177,155,176,153,174,153,174,150,175,149,178,149,183,147,186,149,190,151,191,153,194,153,196,155,202,154,203,152,206,153,207,154,210,154,211,155,211,160,217,163,218,166,216,168,216,169,219,170,219,170,216,173,223,173,225,173,226,173,226,173,227,174,227,174,228,175,229,176,230,176,231,177,232,178,233,178,233,178,234,179,234,179,234,180,233,180,233,180,233,181,233,181,234,184,235,186,234,190,227,188,224,190,225,193,227,196,227,199,230,200,230,201,229,204,225,208,225,210,223,211,224,215,219,214,220,218,214,218,212,218,211,218,208,223,210,225,212,226,212,228,210,231,204,227,203,229,204,231,203,232,202,234,202,235" href="" target="" />
                <!--<area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Kujawsko - Pomorskie" })" data-key="Kujawsko - Pomorskie" alt="Kujawsko - Pomorskie" title="" coords="127,131,119,126,115,123,118,122,118,115,117,112,112,110,113,103,114,98,116,97,119,95,116,90,111,86,116,84,116,79,118,78,121,71,125,76,126,76,128,76,128,74,130,74,133,73,129,71,132,69,135,70,136,67,140,69,143,65,146,65,148,69,151,70,155,68,160,68,163,70,167,73,168,74,174,74,179,75,179,81,181,86,186,87,189,89,193,89,196,90,197,94,196,97,197,101,194,106,192,111,188,113,187,120,186,120,188,123,190,123,190,123,190,127,184,132,186,134,186,139,186,142,182,147,184,148,173,149,169,146,167,149,166,150,162,144,157,140,152,141,151,138,148,141,142,140,141,137,139,137,134,133,131,132" href="" target="" />-->
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Kujawsko - Pomorskie" })" data-key="Kujawsko - Pomorskie" alt="Kujawsko - Pomorskie" title="" coords="117,112,113,111,112,109,114,105,113,100,114,97,118,96,118,93,115,89,112,86,114,86,114,83,116,81,118,78,118,74,120,72,121,71,123,75,126,75,127,74,131,73,132,72,130,69,132,68,135,68,135,65,138,65,140,67,142,65,147,64,147,67,149,69,154,67,157,67,159,69,165,68,166,69,165,73,169,73,173,73,175,73,178,73,180,77,180,80,181,84,183,85,186,83,188,87,191,88,194,88,198,92,196,95,199,99,199,101,197,101,194,103,195,109,196,112,196,112,192,111,190,112,188,115,190,117,190,119,187,121,191,124,190,125,188,128,186,130,185,132,188,135,188,135,185,135,187,140,184,142,183,147,180,148,177,149,175,149,172,146,170,148,168,147,167,150,165,150,162,145,159,142,157,140,151,140,151,138,149,139,148,140,143,140,141,138,140,135,139,136,137,135,134,133,131,131,125,131,123,127,119,127,118,126,117,124,117,122,119,121,119,117,119,115">
                <!--<area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Wielkopolskie" })" data-key="Wielkopolskie" alt="Wielkopolskie" title="" coords="95,192,88,186,88,180,80,178,80,173,74,171,69,173,67,166,65,165,61,160,60,148,61,143,60,135,58,128,61,122,66,119,64,108,67,105,79,104,82,97,94,89,84,83,84,81,89,79,93,79,98,72,100,71,102,77,104,78,108,77,117,79,111,87,116,91,117,95,113,99,111,110,116,112,118,120,114,123,123,129,137,135,141,140,148,141,154,142,161,144,164,148,166,151,171,148,173,151,175,154,173,157,170,160,171,162,163,166,164,173,163,179,158,180,152,182,150,190,149,193,151,197,148,204,145,200,141,206,139,210,141,213,142,216,142,219,134,221,133,218,129,215,127,214,128,204,123,205,118,199,122,195,116,192,109,190,108,194,102,194,100,196" href="" target="" />-->
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Wielkopolskie" })" data-key="Wielkopolskie" alt="Wielkopolskie" title="" coords="66,104,70,105,73,105,79,104,80,101,80,97,82,95,85,95,86,92,88,92,89,90,95,90,85,85,84,83,84,79,89,79,92,78,94,75,97,72,100,71,101,73,101,75,104,77,106,78,107,76,111,77,117,78,117,80,116,82,115,85,112,86,116,90,118,94,118,96,115,97,113,98,114,101,114,105,112,108,112,111,116,113,119,113,119,117,119,120,118,122,116,123,118,125,119,127,122,127,125,130,129,130,131,131,132,132,135,134,137,134,138,136,140,135,143,139,143,140,148,140,149,140,151,137,152,141,157,141,160,142,162,145,164,149,165,150,167,150,167,149,167,148,169,147,171,148,172,146,174,148,174,149,174,152,174,153,174,153,175,153,176,153,177,154,177,154,177,155,177,155,176,156,174,156,172,156,171,157,170,158,170,158,170,159,170,160,171,160,171,160,171,161,172,162,170,163,166,164,163,164,163,170,165,172,164,176,161,179,154,179,152,182,151,187,151,190,149,191,150,194,150,198,149,202,148,204,147,201,143,200,142,204,140,205,139,206,139,211,140,212,142,211,142,218,140,219,138,220,136,222,131,221,130,220,132,218,131,217,129,216,127,212,127,204,122,204,120,204,119,199,121,198,121,194,117,192,113,190,109,190,108,194,107,194,103,193,103,195,99,195,96,193,94,193,92,189,88,187,88,184,88,182,80,178,80,175,79,173,77,171,74,171,73,172,70,172,68,171,68,165,65,166,63,165,63,163,63,161,61,160,59,159,59,149,61,146,61,143,59,140,58,139,58,137,59,140,61,137,61,136,59,131,57,128,57,126,59,122,61,123,62,123,63,121,63,117,65,117,65,115,66,113,67,111,66,109,65,108,66,106">
                <!--<area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Dolnośląskie" })" data-key="Dolnośląskie" alt="Dolnośląskie" title="" coords="78,273,71,268,72,264,67,261,71,255,76,254,73,246,69,245,66,248,61,248,56,247,56,243,39,237,36,231,35,225,30,225,24,222,25,215,27,210,26,204,27,202,36,197,38,199,39,193,48,195,49,198,53,192,55,191,58,188,58,181,65,177,72,179,72,185,75,187,81,179,88,181,88,187,100,196,103,194,108,195,110,191,121,195,118,199,124,204,126,205,127,214,129,216,120,219,120,226,112,233,108,243,107,249,101,255,95,260,92,263,96,269,101,274,98,275,93,275,89,281,86,283,79,278" href="" target="" />-->
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Dolnośląskie" })" data-key="Dolnośląskie" alt="Dolnośląskie" title="" coords="25,203,27,200,31,199,34,197,38,199,39,198,38,195,39,193,44,194,47,196,49,197,51,195,52,192,52,191,53,190,57,190,58,183,60,181,62,180,63,178,65,176,66,177,69,178,71,178,71,180,70,182,72,182,72,184,72,184,72,185,73,185,73,185,74,185,74,185,75,185,75,185,75,184,75,184,78,181,80,178,84,180,89,182,87,187,90,189,93,190,94,192,97,194,100,196,104,194,104,194,108,194,108,193,109,191,110,190,114,191,120,193,121,195,121,197,119,198,120,200,120,203,122,204,125,204,127,204,127,207,127,210,128,213,129,214,130,217,130,217,130,217,129,217,129,217,128,217,128,217,127,217,127,217,126,217,126,217,125,217,125,217,124,217,123,217,122,217,122,218,121,218,121,218,120,219,120,223,119,225,119,228,119,229,115,231,114,234,112,234,111,236,111,239,110,241,107,241,107,244,105,246,106,247,108,248,107,250,105,251,102,251,100,253,100,256,98,258,95,259,94,260,93,262,92,263,94,266,95,268,98,271,98,273,97,274,95,274,91,274,90,277,86,282,82,280,79,277,79,273,77,271,74,270,73,268,73,265,68,261,68,258,68,257,71,254,76,255,75,250,73,247,70,245,69,246,69,247,68,248,66,247,65,247,63,247,61,248,60,248,59,247,59,246,60,244,58,245,56,245,56,243,54,241,50,239,47,239,44,238,42,237,39,237,39,234,35,231,34,229,35,229,35,227,33,224,31,225,27,225,25,223,24,220,24,216,26,213,27,210,27,207,27,205">
                <!--<area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Lubuskie" })" data-key="Lubuskie" alt="Lubuskie" title="" coords="20,165,18,156,18,147,14,145,14,138,16,134,16,128,15,126,23,124,22,119,26,118,29,112,34,113,42,113,39,108,49,105,53,108,59,106,60,103,64,100,67,100,66,106,64,111,66,119,60,123,57,131,61,147,60,160,64,166,68,169,70,173,77,173,79,174,79,179,75,187,73,184,72,178,63,176,58,181,59,188,52,191,50,198,47,194,39,192,37,198,26,202,25,197,16,190,20,187,16,181,13,176,14,172,17,170" href="" target="" />-->
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Lubuskie" })" data-key="Lubuskie" alt="Lubuskie" title="" coords="25,202,27,200,29,200,33,197,38,199,39,198,38,195,40,193,43,193,45,194,46,195,48,196,49,197,50,196,51,194,52,190,57,190,58,183,60,181,62,179,65,176,67,178,71,178,71,181,70,182,72,182,72,184,72,185,73,186,76,183,79,180,80,178,80,174,76,171,74,171,73,172,71,172,69,171,69,167,68,165,66,166,65,166,64,165,64,161,61,160,59,160,59,148,61,146,61,144,59,140,58,137,59,140,61,137,61,135,59,132,58,129,57,127,58,123,59,122,62,123,63,122,63,118,65,117,65,115,66,114,67,112,66,109,66,108,66,106,66,103,66,99,65,98,62,98,62,99,62,101,59,101,58,102,59,103,59,105,59,105,58,105,58,105,58,105,57,105,57,105,56,105,55,105,55,105,54,105,54,106,53,106,53,106,52,106,52,106,52,107,51,107,51,107,51,107,51,107,51,107,51,107,50,106,50,106,50,106,50,105,50,104,50,104,49,104,49,104,48,104,47,105,47,105,46,106,45,106,45,106,40,107,40,109,40,110,38,112,36,113,36,113,35,113,35,113,34,113,33,113,33,113,32,113,31,113,30,113,29,113,29,112,29,112,28,112,28,112,28,112,28,111,28,111,28,111,28,113,27,115,26,117,25,118,22,118,22,121,22,123,22,123,22,123,22,123,22,123,22,123,22,123,22,123,22,123,21,124,21,124,20,124,20,124,19,124,18,124,18,124,17,124,17,124,17,124,15,124,14,125,13,126,15,128,16,129,15,131,15,132,16,134,12,138,11,140,12,141,13,143,12,145,12,146,14,147,16,149,17,151,17,154,17,155,17,156,18,157,19,159,19,161,18,164,17,167,15,169,13,172,12,174,13,176,14,176,14,178,14,180,16,182,18,184,18,186,18,187,16,189,15,190,17,192,19,194,22,196,24,197,25,199,25,201">
                <!--<area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Zachodniopomorskie" })" data-key="Zachodniopomorskie" alt="Zachodniopomorskie" title="" coords="57,37,72,33,81,28,85,19,92,16,96,16,97,21,100,21,99,35,93,37,97,44,96,53,98,51,102,54,99,59,99,60,100,62,100,65,100,71,96,73,94,79,84,80,85,84,94,90,83,96,78,104,66,105,68,101,64,101,60,103,58,105,55,107,50,106,38,109,42,112,32,114,30,112,26,118,21,119,22,123,13,126,3,114,2,112,3,107,3,105,7,102,11,98,10,92,14,88,11,84,11,75,8,72,9,62,12,63,19,68,19,62,19,60,22,57,19,55,12,53,11,56,6,49,12,49,14,51,16,48,27,45,30,44,49,38" href="" target="" />-->
                <area shape="poly" href="@Url.Action("List", "Object", new { voiv = "Zachodniopomorskie" })" data-key="Zachodniopomorskie" alt="Zachodniopomorskie" title="" coords="13,125,15,124,21,124,22,123,22,120,22,118,25,118,26,118,28,111,30,113,32,114,35,113,39,111,40,109,39,107,42,107,45,106,48,104,50,104,51,106,52,107,53,106,55,105,57,105,59,105,59,103,58,102,59,101,61,101,62,101,62,99,63,98,66,98,66,100,66,101,66,104,66,105,69,105,72,105,77,104,79,103,80,102,80,100,80,97,81,95,82,95,85,95,86,93,86,92,88,92,89,90,95,90,92,88,85,84,84,83,84,80,84,79,88,79,91,79,93,77,94,75,96,72,100,71,100,70,100,64,102,61,98,59,99,58,101,57,103,57,103,57,103,57,103,57,103,56,103,56,104,56,104,55,103,55,103,55,103,54,102,54,102,54,101,53,101,53,101,53,100,52,100,52,100,52,100,50,97,51,97,46,97,41,94,36,95,34,97,34,99,32,99,30,98,27,99,27,99,21,96,18,96,15,90,16,87,17,84,20,82,23,80,27,75,31,67,33,58,35,50,37,39,40,30,43,25,45,18,45,14,48,13,50,11,50,9,49,7,48,6,49,8,53,11,56,12,55,12,54,12,53,14,52,16,54,18,54,20,54,21,56,21,58,19,59,18,60,18,62,18,64,19,67,19,67,15,64,12,62,11,60,9,62,7,63,9,65,9,68,9,71,9,73,10,75,11,78,11,80,10,82,11,84,13,87,13,89,11,90,9,92,10,98,7,101,4,104,1,105,2,107,3,110,0,112,1,113,4,116,7,119,11,123">
            </map>
        </div>

        <script>
            $(function () {
                $("map#imgmap20131025114956 area")
                .mouseenter(function () {
                    $(this).mapster('highlight');
                }).mouseleave(function () {
                    $("#mapka").mapster('highlight', false);
                });

                $("#woj").change(function (e, isMapClick) {
                    if (isMapClick)
                        return false;

                    var $input = $(this);
                    $("map#imgmap20131025114956 area").each(function () {
                        if ($(this).data('key') == $input.val())
                            $(this).mapster('select');
                    });
                });
            });
        </script>
    </section>
    <section class="mainpromo row">
        <h2>Polecane obiekty</h2>
        @Html.Action("ViewHomePageObjects", "Search")
        <div class="newitems row">
            @Html.Action("ViewNewestObjectsBox", "Search")
        </div>
        <div class="mostview row">
            @Html.Action("ViewMostPopularBox", "Search", new { count = 8 })
        </div>
    </section>
</div>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
    $(function () {
        $('#mapka').mapster({
            singleSelect: true,

            render_select: {
                fill: true,
                fillColor: '01b5e2',
                fillOpacity: 0.8,
                strokeWidth: 4
            },

            render_highlight: {
                fill: true,
                fillColor: '01b5e2',
                fillOpacity: 0.3,
                strokeWidth: 2,
            },

            stroke: true,
            strokeColor: '01b5e2',

            areas: [
                { key: "Pomorskie", stroke: true },
                { key: "Warmińsko - Mazurskie" },
                { key: "Podlaskie" },
                { key: "Lubelskie" },
                { key: "Mazowieckie" },
                { key: "Świętokrzyskie" },
                { key: "Podkarpackie" },
                { key: "Małopolskie" },
                { key: "Śląskie" },
                { key: "Opolskie" },
                { key: "Łódzkie" },
                { key: "Kujawsko - Pomorskie" },
                { key: "Wielkopolskie" },
                { key: "Dolnośląskie" },
                { key: "Lubuskie" },
                { key: "Zachodniopomorskie" },
            ],

            onClick: function (args) {
                window.location = $(this).attr('href');
                /*
                var $clicked = $(args.e.target);
                $("select[name=voiv]").val(args.selected ? $clicked.data('key') : '').trigger('change', [true]);
                */
            }
        });

        $('.mapa area').qtip({
            content: {
                text: function () {
                    return $(this).data('key');
                }
            },
            position: {
                my: 'center center',
                at: 'top center',
                adjust: {
                    y: 20
                }
            },
            style: {
                classes: 'qtip-blue qtip-rounded'
            },
            hide: {
                fixed: true
            }
        });
    });
</script>

@Html.Action("Right", "Sidebar")
